body {
  margin: 0;
  background-color: whitesmoke;
}
a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  background-color: rgb(33, 35, 36);
  height: 50px;
  width: 100%;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 15px;
}

.main-img {
  position: relative;
  height: 500px;
  background-image: url("../content/static/DotnetLogo1.png");
  background-position: center;
  background-size: cover;
}

.title {
  position: absolute;
  color: rgb(213, 210, 224);
  font-size: 38px;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 8px black;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.post {
  position: relative;
  display: flex;
  height: auto;
  margin: 5px;
  box-shadow: 0 0 5px 0 black;
}

.post img {
  width: 100%;
  object-fit: cover;
}

.post-body {
    margin: -5px 5px 0;
    background-color: white;
}

.no-shadow {
    box-shadow: none;
}