@model IEnumerable<Post>
<h2 class=" title">This is home page !</h2>
@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "Blog About Programming and Gaming, with C# as main Programming Language";
    ViewBag.Tags = "blog programming gaming travel";
}
@* <img src="~/content/static/CSharpImage1.jpeg" alt="CSharpLogo1"> *@
<div>
    <label>Category</label>
    <select>
        <option value="Travel">Travel</option>
        <option value="Programming">Programming</option>
        <option value="Gaming">Gaming</option>
    </select>
</div>

<div class="main-img">
    @* <span class="title">Down To Code</span> *@
</div>

<div class="container">
    @foreach (var post in Model)
    {
        var image_path = $"/image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path">
            <span class="title">
                @post.Title
            </span>
        </a>
    }
</div>