@model IEnumerable<Post>
<h2>This is home page !</h2>

<img src="~/content/static/CSharpImage1.jpeg" alt="CSharpLogo1">

<div>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <div>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
                </div>
                <div>
                   <img src="~/content/Blog/@post.Image" alt="imagePost" width="100">
                </div>
            </li>
        }
    </ul>
</div>