@model IEnumerable<Post>
@* <h2>This is home page !</h2> *@

@* <img src="~/content/static/CSharpImage1.jpeg" alt="CSharpLogo1"> *@

<div class="main-img">
    <span class="title">Down To Code</span>
</div>

<div class="container">
    @foreach (var post in Model)
    {
        var image_path = $"/image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path">
            <span class="title">
                @post.Title
            </span>
        </a>
    }
</div>