@model Post

<h2>@Model.Title</h2>

@if(!String.IsNullOrEmpty(Model.Image))
{
    var image_path = $"/image/{Model.Image}";
    <img src="@image_path" width="500">
    @* <img src="~/content/Blog/@Model.Image" width="500> *@
}

<p>@Model.Body</p>
