<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a asp-controller="Home" asp-action="Index">Home Page</a>
        <a asp-controller="Home" asp-action="Edit">Create Post</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>